---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Enero 2022 - Actualidad",
    title: "Oracle - Frontend Web Developer",
    company: "Red Design Systems - Oracle",
    description:
      `Desarrollar y actualizar páginas web y correos electrónicos.
      Creación y edición de nuevas funcionalidades utilizando tecnologías como HTML, CSS y JavaScript.
      Integración de Landing pages e emails con plataformas Oracle como Eloqua y Certain.
      Diseñar mokups utilizando aplicaciones como Figma.
      Trabajar bajo metodología SCRUM como contratista de Oracle.`
  },
  {
    date: "Marzo 2020 - Enero 2022",
    title: "Oracle Demand Center Marketing Analyst",
    company: "Red Design Systems - Oracle",
    description:
      `Responsable de maquetación y codificación de productos web para el equipo de producción Demand Center Bogotá, atendiendo los requerimientos de nuestro cliente en Norte América.
      Configuración de campañas de marketing automatizadas (Eloqua, Certain).`,
  },
  {
    date: "Octubre 2024 ",
    title: "Desarrollador Backend",
    company: "No Country",
    description:
      `Desarrollar de la aplicación web "SaboresXpertos" con tecnologías como Next.js, Typescript, Tailwind, Prisma, PostgreSQL, Vercel, Cloudinary y Figma, junto a un equipo de desarrollo conformado por integrandes de diferentes países.`
  },
  {
    date: "Julio 2024",
    title: "Desarrollador Frontend",
    company: "No Country",
    description:
      `Desarrollo de la aplicación web "SmartBank" con tecnologías como JS, Tailwind, Java y Figma. La aplicación fue desarrollada en conjunto con un equipo de desarrollo conformado por integrandes de diferentes países.`
  },
  {
    date: "Enero 2016 - Diciembre 2019",
    title: "Técnico Sistemas",
    company: "Imcompartes SAS",
    description:
      `Maquetación de la página web de acuerdo a la solicitud y necesidades de proyección de la organización usando el software CorelDraw.
      Verificación y elaboración de pedidos para importación utilizando herramientas office y el lenguaje de programación VBA para Excel.
      Supervisión, instalación y mantenimiento de los equipos de cómputo, impresión y red (Router, Switch, ONT). `,
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
